html {
    font-size: 16px;
    background-color: lightyellow;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    text-rendering: optimizeLegibility;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1 {
    font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 400;
}

label {
    padding-right: .25rem;
}

#communications, body {
    background-color: lightyellow;
}

#drawboard {
    background-color: white;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.btn-pink {
    background-color: white; 
    color: #ed12a8; 
    border: 1px solid #ed12a8;
}

.btn-pink:hover {
    background-color: #ed12a8;
    color: white; 
    border: 1px solid white;
}

#create-prompt-button, #setup-button {
    margin-top: 10px;
}

#prompt-content {
    margin-bottom: 10px;
}

#add-score {
    margin-right: 5px;
}